.oviedo{
    background-image: url(../img/medicos/oviedo.jpg);   
    background-position: top;
}
.bernal{
    background-image: url(../img/medicos/bernal.jpg);
    background-position: top;
}
.carpio{
    background-image: url(../img/medicos/carpio.jpg);
    background-position: top;
}
.ruesta{
    background-image: url(../img/medicos/ruesta.jpg);  
    background-position: top;
}
.oliva{
    background-image: url(../img/medicos/female-user.jpeg);  
    background-position: top;
}

