.producto1{
    background-image: url(../img/productos/producto1.jpg);
    
}
.producto2{
    background-image: url(../img/productos/producto2.jpg);
}
.producto3{
    background-image: url(../img/productos/producto3.jpg);
}
.producto4{
    background-image: url(../img/productos/producto4.jpg);
}
